Discord_Bot {   
    background: $boost;
    height: 5;
    margin: 1;
    min-width: 50;
    padding: 1;
}

System_Prompt {
    height: 5;
}

Button {
    width: 16;
}

#bot_name {
    dock: left;
}

#start {
    dock: right;
}

#stop {
    dock: right;
    display: none;
}

.started {
    background: $success-muted;
    color: $text;
}

.started #start {
    display: none
}

.started #stop {
    display: block
}